<form action="/users/updatePassword" method="POST">
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>

    <label for="confirm_password">Confirm Password:</label>
    <input type="password" id="confirm_password" name="confirm_password" required>

    <input type="hidden" name="resetToken" value="<%= token %>">

    <button type="submit">Submit</button>
  </form>