<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <%- include('_header.ejs'); %>
        <%- body%>                          <!--body is filled with users_profile.ejs/other ejs files-->
        <%- include('_footer'); %>
    </body>
</html>